<div *ngIf="employee" class="col-sm-12 col-md-7 jumbotron pull-left app-block">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title hebrew-direct" style="font-weight: bold; text-align: center">{{employee.surname+'&nbsp;'+employee.name}}<span style="font-size: 50%" class="{{employee.enabled? 'label label-success': 'label label-danger'}}">{{employee.enabled? 'פעיל':'לא פעול'}}</span></h4>
      <ul class="list-group">
        <li class="list-group-item">
          <a style="font-size: small" pButton icon="fa-pencil-square-o" data-toggle="modal" data-keyboard="true" data-target="#employeeEditionForm"></a>
          <a style="font-size: small" pButton icon="fa-lock" class="ui-button-danger" (click)="preparePasswordForm(); op.toggle($event)"></a>
        </li>
        <li *ngIf="employee.employeeNumber" class="list-group-item">&nbsp;{{employee.employeeNumber}}
          <span class="pull-right"><strong>מספר עובד</strong></span></li>
        <li *ngIf="employee.department" class="list-group-item">&nbsp;{{employee.department.name}}
          <span class="pull-right"><strong>צוות</strong></span></li>
        <li *ngIf="employee.birthday" class="list-group-item">&nbsp;{{employee.birthday}}
          <span class="pull-right"><strong>תאריך לידה</strong></span></li>
        <li *ngIf="employee.email" class="list-group-item">&nbsp;{{employee.email}}
          <span class="pull-right"><strong>ד''א</strong></span></li>
        <li *ngIf="employee.privatePhone" class="list-group-item">&nbsp;{{employee.privatePhone}}
          <span class="pull-right"><strong>טל. פרטי</strong></span></li>
        <li *ngIf="employee.companyPhone" class="list-group-item">&nbsp;{{employee.companyPhone}}
          <span class="pull-right"><strong>טל. עבודה</strong></span></li>
        <li *ngIf="employee.passportId" class="list-group-item">&nbsp;{{employee.passportId}}
          <span class="pull-right"><strong>ת''ז</strong></span></li>
        <li *ngIf="employee.roles" class="list-group-item">{{(employee.roles.indexOf('ROLE_ADMIN')!=-1)?'&nbsp;Admin':'&nbsp;User'}}
          <span class="pull-right"><strong>סוג משתמש</strong></span></li>
      </ul>
      <h4 style="text-align: center">&nbsp;פרויקטים</h4>

      <table class="table table-responsive table-condensed" style="margin: 0 auto;width: 75%">
        <thead>
        <tr>
          <th>תעריף</th>
          <th>שם לקוח</th>
          <th>שם פרויקט</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let agreement of agreements" [ngStyle]="{'color': (agreement.active)? 'black':'red'}">
          <td class="hebrew-direct" style="font-size: smaller">{{agreement.tariffAmount}} {{agreement.tariffCurrency | currencyPipe}} {{agreement.tariffType | tariffType}}</td>
          <td style="font-weight: bold">{{agreement.projectName}}</td>
          <td style="font-weight: bold">{{agreement.clientName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<p-overlayPanel #op>
  <h4 style="text-align: center">שינוי סיסמה</h4>
  <div style="text-align: center" *ngIf="passwordChangeSuccess" class="alert alert-success">
    הסיסמה עודכנה בהצלחה
  </div>
  <div style="text-align: center" *ngIf="passwordChangeFailure" class="alert alert-success">
{{passwordChangeFailure}}
  </div>
  <div *ngIf="!passwordChangeSuccess" class="row">
    <div class="form-group">
     <div class="col-md-2 pull-left">
        <a class="btn btn-warning" (click)="updatePassword(updatePassInput.value); updatePassInput.value=''"><i style="font-size: large; color: white"
                                     class="fa fa-cog {{requstStarted?'fa-spin':''}}"></i></a>
      </div>
      <div class="col-md-9 pull-right">
        <input #updatePassInput required type="password" class="form-control">
      </div>
    </div>
  </div>
</p-overlayPanel>
<employee-form *ngIf="employee" [employeeForCreation]="employee" id="employeeEditionForm" tabindex='-1' class="modal fade" onclose="" role="dialog"></employee-form>
