<div *ngIf="employee" class="col-sm-12 col-md-7 jumbotron pull-left" style="background-color: rgba(104, 157, 255, 0.32)">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title" style="font-weight: bold; text-align: center">{{employee.surname+'&nbsp;'+employee.name}}</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <p style="font-size: small" class="btn btn-xs btn-warning" data-toggle="modal" data-keyboard="true" data-target="#employeeEditionForm"><i
            class="fa fa-pencil-square-o"></i>&nbsp;ערוך</p></li>
        <li *ngIf="employee.department" class="list-group-item">&nbsp;{{employee.department.name}}
          <span class="pull-right"><strong>צוות</strong></span></li>
        <li class="list-group-item">&nbsp;{{employee.birthday}}
          <span class="pull-right"><strong>תאריך לידה</strong></span></li>
        <li class="list-group-item">&nbsp;{{employee.email}}
          <span class="pull-right"><strong>ד''א</strong></span></li>
        <li class="list-group-item">&nbsp;{{employee.privatePhone}}
          <span class="pull-right"><strong>טל. פרטי</strong></span></li>
        <li class="list-group-item">&nbsp;{{employee.companyPhone}}
          <span class="pull-right"><strong>טל. עבודה</strong></span></li>
        <li class="list-group-item">&nbsp;{{employee.passportId}}
          <span class="pull-right"><strong>ת''ז</strong></span></li>
        <li *ngIf="employee.roles" class="list-group-item">{{(employee.roles.indexOf('ROLE_ADMIN')!=-1)?'&nbsp;Admin':'&nbsp;User'}}
          <span class="pull-right"><strong>סוג משתמש</strong></span></li>
      </ul>
      <h4 style="text-align: center"><a style="cursor: pointer; margin: 0 auto" data-toggle="modal" data-keyboard="true" data-target="#employeeProjectEditionForm"><i class="module-plus glyphicon glyphicon-plus"
                                                                                                               aria-hidden="true"></i></a>&nbsp;פרויקטים</h4>

      <table class="table table-responsive table-condensed" style="margin: 0 auto;width: 75%">
        <thead>
        <tr>
          <th>עד</th>
          <th>מ</th>
          <th>שם לקוח</th>
          <th>שם פרויקט</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let agreement of agreements" [ngStyle]="{'color': (isActive(agreement))? 'green':'red'}">
          <td>{{agreement.projectName}}</td>
          <td>{{agreement.clientName}}</td>
          <td>{{agreement.start}}</td>
          <td>{{agreement.finish}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<employee-project-form id="employeeProjectEditionForm" *ngIf="employee" (addedAgreement)="appendAgreement($event)" [employeeId]="employee.id" tabindex='-1' class="modal fade" onclose="" role="dialog"></employee-project-form>
<employee-form *ngIf="employee" [employeeForCreation]="employee" id="employeeEditionForm" tabindex='-1' class="modal fade" onclose="" role="dialog"></employee-form>
