<div class="row">
  <div class="col-md-12" style="align-content: center; text-align: center">
    <div class="btn-group" style="margin:  0 auto">
      <button id="openDepartmentFormElem" data-toggle="modal" data-keyboard="true" data-target="#departmentCreationForm" type="button"
              style="outline: none" class="badge">+
      </button>
    </div>
  </div>
  <div class="col-md-12" style="align-content: center; text-align: center">
    <div class="btn-group hebrew-direct" style="margin:  0 auto">
      <button (click)="emitChosenDepartment()" type="button" style="outline: none; background-color: #1A4D84" class="badge">כולם</button>
      <button (click)="emitChosenDepartment(department.id)" style="outline: none" *ngFor="let department of departments"
              type="button" (contextmenu)="openDepartmentEditingMenu(department)" class="badge">{{department.name}}
      </button>
    </div>
  </div>
</div>

<div id="departmentCreationForm" tabindex='-1' class="modal fade" onclose="" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="text-align: center">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> {{department.id? 'לערוך צוות': 'ליצור צוות'}} </h4>
      </div>
      <div class="modal-body">
        <div *ngIf="errorDepartment" style="text-align: center" class="alert alert-danger">
          {{errorDepartment}}
        </div>
        <form [formGroup]="departmentCreationForm" novalidate
              (ngSubmit)="submitDepartmentForm(departmentCreationForm)">
          <div class="row">
            <div class="form-group col-md-12">
              <label class="pull-right">שם צוות</label>
              <input type="text" class="form-control" formControlName="name" required>
            </div>
          </div>
      <div class="modal-footer pull-left">
        <button id="{{department.id? 'closeEditDepartmentFormButton':'closeNewDepartmentFormButton'}}" type="button"
                class="btn btn-default" data-dismiss="modal">סגור
        </button>
        <button type="submit" [disabled]="!departmentCreationForm.valid" class="btn btn-primary">שמור</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>
