p {
  text-align: center;
  position: relative;
  font-size: small;
}

input {
  margin-bottom: 5px;
  text-align: right;
}

.modal-dialog .modal-content {
  position: relative;
  display: table;
  overflow-y: auto;
}
