<div class="page-header" style="margin-top: 0; margin-bottom: 0">
  <div class="row hebrew-direct" width="75%" style="position: relative">
    <div class="col-sm-2 pull-right"></div>
    <div style="text-align: center; font-size: 300%" class="col-sm-3 pull-right">
      דיווח שעות
    </div>
    <div class="col-sm-1 pull-left"></div>
    <div style="margin-top: 1em; text-align: center; vertical-align: bottom" class="col-sm-7 pull-left">
      <p-dropdown [options]="departmentsUi" [(ngModel)]="chosenDepartment" [filter]="true"
                  [style]="{'text-align':'center'}"
                  (onChange)="getEmployeesUi(chosenDepartment)"></p-dropdown>
      <p-dropdown [options]="employeesUi" [(ngModel)]="chosenEmployee" [filter]="true"
                  [style]="{'text-align':'center', 'width': '12em'}"
                  [panelStyle]="{'align-content': 'center'}"></p-dropdown>
      <p-calendar [(ngModel)]="searchDate" [locale]="he" [style]="{'text-align':'center', 'width': '7em'}"
                  [inputStyle]="{'text-align':'center', 'width':'100%'}" id="startDateId"
                  dateFormat="dd.mm.yy"></p-calendar>
      <button class="btn btn-sm btn-info" [disabled]="!chosenEmployee" (click)="showDashboard(chosenEmployee)"><i
        class="fa fa-chevron-circle-down" aria-hidden="true"></i>&nbsp;היצג&nbsp;
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
