<div class="page-header" style="margin-top: 0; margin-bottom: 0">
  <p style="text-align: center; font-size: 300%">דיווח שעות</p>
</div>
<div class="container">
  <div class="row hebrew-direct">
    <div style="margin: auto 0; text-align: center">
    <p-dropdown [options]="departmentsUi" [(ngModel)]="chosenDepartment" [filter]="true" [style]="{'text-align':'center'}"
                (onChange)="getEmployeesUi(chosenDepartment)"></p-dropdown>
    <p-dropdown [options]="employeesUi" [(ngModel)]="chosenEmployee" [filter]="true" [style]="{'text-align':'center', 'width': '15em'}" [panelStyle]="{'align-content': 'center'}"></p-dropdown>
      <p-calendar [(ngModel)]="searchDate" [inputStyle]="{'text-align':'center', 'width':'75%'}" id="startDateId" dateFormat="dd.mm.yy"></p-calendar>
      <button class="btn btn-sm btn-info" [disabled]="!chosenEmployee" (click)="showDashboard(chosenEmployee)"><i
        class="fa fa-chevron-circle-down" aria-hidden="true"></i>&nbsp;להראות&nbsp;
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
