<nav class="navbar navbar-static-top navbar-default hebrew-direct">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
        <li *ngIf="profile">
          <a (click)="logout()" style="cursor: pointer">
            <span class="glyphicon glyphicon-log-out"></span> יציאה</a>
        </li>
    </ul>
      <div *ngIf="profile != null">
        <span class="navbar-brand profile-name" href="#">{{profile.surname + ' ' + profile.name}}</span>
      </div>
    <ul class="nav navbar-nav navbar-right" [ngSwitch]="profile">
      <li *ngIf="profile != null">
        <a routerLink="/app/dashboard" routerLinkActive="active">דיווח שעות שלי</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/dashboard" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">דיווחי שעות</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/employees" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">עובדים</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/clients" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">לקוחות</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/reports" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">דוחות</a>
      </li>
      <li class="navbar-header">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img [src]="LOGO" alt="NAYA"
                                                                    style="height: 120%">
        </a>
      </li>
    </ul>
  </div>
</nav>
