<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NAYA</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a routerLink="/app/dashboard" routerLinkActive="active">דיווח שעות</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">הוצאות</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">תכנון</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">הזמנות</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">חשבונות</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">אחזקה</a>
      </li>
      <li>
        <a routerLink="/app/admin/reports" routerLinkActive="active">דוחות</a>
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active">מסמכים</a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="active">דף הבית</a>
      </li>
    </ul>
  </div>
</nav>
