<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NAYA</a>
    </div>
    <ul class="nav navbar-nav navbar-left" [ngSwitch]="profile">
      <template [ngSwitchCase]="null">
        <li>
          <a routerLink="/app/login" routerLinkActive="active"><span class="glyphicon glyphicon-log-in"></span> כניסה</a>
        </li>
      </template>
      <template ngSwitchDefault>
        <li>
          <a (click)="logout()">
            <span class="glyphicon glyphicon-log-out"></span> יציאה</a>
        </li>
      </template>
    </ul>
    <ul class="nav navbar-nav navbar-right" [ngSwitch]="profile">
      <li *ngIf="profile != null">
        <a routerLink="/app/dashboard" routerLinkActive="active">דיווח שעות</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="#" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">הוצאות</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/employees" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">עובדים</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/clients" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">לקוחות</a>
      </li>
      <li *ngIf="profile != null">
        <a routerLink="/app/admin/reports" routerLinkActive="active" *ngIf="profile.roles.indexOf('ROLE_ADMIN') != -1">דוחות</a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="active">דף הבית</a>
      </li>
      <li *ngIf="profile != null">
        <span class="navbar-brand" href="#">{{profile.surname + ' ' + profile.name}}</span>
      </li>
    </ul>
  </div>
</nav>
