<h3 style="text-align: center">ימים חלקיים</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">
      <button class="btn btn-sm btn-info" (click)="getPartialDays()">&nbsp;חפש&nbsp;<i
        class="fa fa-chevron-circle-down" aria-hidden="true"></i></button>
    </div>
    <label for="spinnerId">
      &nbsp;שעות&nbsp;
      <p-spinner id="spinnerId" [(ngModel)]="limit" [min]="1" [max]="24" [size]="3"></p-spinner>
    </label>
    <p-dropdown [options]="departmentsUi" [(ngModel)]="chosenDepartment" [filter]="true"
                (onChange)="getEmployeesUi(chosenDepartment)"></p-dropdown>
    <p-dropdown [options]="employeesUi" [(ngModel)]="chosenEmployee" [filter]="true"></p-dropdown>
    <div class="col-md-4 pull-right">
      <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
      <button class="btn btn-sm btn-default" (click)="partialDaysReport()">הורדה&nbsp;<i class="fa fa fa-save"
                                                                                    aria-hidden="true"></i></button>
    </div>
  </div>
</div>
<br>
<div *ngIf="tableVisible">
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="חיפוש">
  </div>
  <p-dataTable [value]="infosUi" [globalFilter]="gb" sortMode="multiple" [style]="{'text-align':'center'}">
    <p-column field="duration" header="משך" [sortable]="true">
      <template let-col let-vraag="rowData" pTemplate="body">
        <span [innerHTML]="vraag[col.field] | minutesToHours"></span>
      </template>
    </p-column>
    <p-column field="date" header="תאריך" [sortable]="true"></p-column>
    <p-column field="departmentName" header="צוות" [sortable]="true"></p-column>
    <p-column field="employeeSurname" header="שם משפחה" [sortable]="true"></p-column>
    <p-column field="employeeName" header="שם" [sortable]="true"></p-column>
  </p-dataTable>
</div>
