<div class="modal-dialog">

  <div class="modal-content">
    <div class="modal-header" style="text-align: center">
      <button type="button" class="close pull-left" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{employeeForCreation.id? 'ערוך עובד':'עובד חדש'}}</h4>
    </div>
    <div class="modal-body hebrew-direct">
      <div *ngIf="errorEmployee" style="text-align: center" class="alert alert-danger">
        {{errorEmployee}}
      </div>
      <form [formGroup]="employeeCreationForm" novalidate (ngSubmit)="submitForm(employeeCreationForm)">

        <div class="row col-md-12 hebrew-direct">
          <div class="form-group col-md-6 pull-right">
            <label>שם פרטי *
              <input type="text" class="form-control" formControlName="name">
            </label>
          </div>
          <div class="form-group col-md-6 pull-left">
            <label>שם משפחה *
              <input type="text" class="form-control" formControlName="surname">
            </label>
          </div>
          <div class="form-group col-md-4 pull-right">
            <label>              תעריך לידה
            <p-calendar formControlName="birthday" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" dateFormat="dd.mm.yy" id="birthdayDate" inputStyleClass="form-control"></p-calendar>
            </label>
          </div>
          <div class="form-group col-md-1 pull-right">
            <label for="isEnabled">
              <p-checkbox id="isEnabled" formControlName="enabled" binary="true"></p-checkbox>
פעיל
            </label>
          </div>
          <div class="form-group col-md-1 pull-right">
            <label for="isAdmin">
              <p-checkbox id="isAdmin" formControlName="isAdmin" binary="true"></p-checkbox>
              האם מנהל
            </label>
          </div>
          <div class="form-group col-md-6 pull-left">
            <label>כתובת מייל *
              <input type="text" class="form-control" formControlName="email">
            </label>
          </div>
          <div class="form-group col-md-6 pull-left">
            <label>מס' עובד
              <input type="text" class="form-control" formControlName="employeeNumber">
            </label>
          </div>
          <div class="form-group col-md-6 pull-left">
            <label>טל פרטי
              <input type="text" class="form-control" formControlName="privatePhone">
            </label>
          </div>
          <div class="form-group col-md-6 pull-right">
            <label>תעודת זהות
              <input type="text" class="form-control" formControlName="passportId">
            </label>
          </div>
          <div class="form-group col-md-6 pull-left">
            <label>טל עבודה
              <input type="text" class="form-control" formControlName="companyPhone">
            </label>
          </div>
          <div [hidden]="!!employeeForCreation.id" class="form-group col-md-6 pull-left">
            <label>סיסמה *
              <input type="password" class="form-control" formControlName="password">
            </label>
          </div>
          <div class="form-group col-md-6 pull-right">
            <label>צוות *
            </label>
            <br>
              <p-dropdown [options]="departmentsUi" [style]="{'width':'inherit'}" formControlName="chosenDepartment" [filter]="true"></p-dropdown>
          </div>
        </div>
        <div class="modal-footer col-md-12">
          <button id="{{employeeForCreation.id? 'closeEditEmployeeFormButton':'closeNewEmployeeFormButton'}}" type="button" class="btn btn-default pull-left" data-dismiss="modal">סגור</button>
          <button type="submit" [disabled]="!employeeCreationForm.valid" class="btn btn-primary pull-left">שמור</button>
        </div>
      </form>
      <div *ngIf="warning" class="alert alert-danger">
        <strong>Error!</strong> {{warning}}
      </div>
    </div>
  </div>
</div>
