th, td {
  text-align: center;
}

td, th:not(:first-child) {
  padding-bottom:0.3em;
}

.customDialog {
  background: green;
}
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}
