th, td {
  text-align: center;
}

td, th:not(:first-child) {
  padding-bottom: 0.3em;
}

.save-button {
  cursor: pointer;
  color: black;
}

.save-button:hover {
  color: white;
}

.customDialog {
  background: green;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.modal-dialog .modal-content {
  position: absolute;
  display: table;
  overflow-y: auto;
  width: 500px;
}

.work-infos-modal-title {
  font-weight: bold;
  font-size: large;
}

.red {
  color: red;
}

.black {
  color: black;
}

.dashboardInput {
  width: 95%;
  cursor: pointer;
  min-width: 3em;
  height: 4em;
  font-size: 8px;
  overflow: hidden;
  resize: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
