<div class="page-header" style="margin: 0">
  <div style="text-align: center; font-size: 300%">
    דיווח שעות
  </div>
</div>
<div style="margin-top: 15px">
  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#dayWorkInfoForm"></button>
  <div id="dayWorkInfoForm" tabindex='-1' class="modal fade" onclose="" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" [style.width]="'110%'">
        <div class="modal-header noselect" style="text-align: center">
          <a id="dayWorkInfoFormClose" style="float: left"  data-dismiss="modal"><span class="fa fa-fw fa-close" style="color: #1a1a1a; cursor: pointer; font-size: large"></span></a>
          <span class="work-infos-modal-title hebrew-direct">
          <i (click)="moveDay(dayForCreatingWorkInfos, -1, activeAgreementId)" title="יום קודם" class="fa fa-arrow-circle-right" style="cursor: pointer" aria-hidden="true"></i>
            {{dayForCreatingWorkInfos | hebrewDate}}
          <i (click)="moveDay(dayForCreatingWorkInfos, 1, activeAgreementId)" title="יום הבה" class="fa fa-arrow-circle-left" style="cursor: pointer" aria-hidden="true"></i>
          </span>
        </div>
        <div class="modal-body" style="width: 90%; margin: 0 auto">
          <div style="min-height: 100%">
            <span id="defaultChoiceError" (click)="defaultChoiceError = ''" style="position: absolute; font-size: smaller; color: red; direction: rtl; margin-top: 3em"
                  class="hebrew-direct">
              {{defaultChoiceError}}
            </span>
            <div style="text-align: center">
                <h3>דיווח שעות עבודה</h3>
            </div>
            <div *ngIf="!dayBydayLock && !inCreation">
              <button type="button" class="btn btn-xs btn-info" title="הוסף דיווח" (click)="create()">&nbsp;הוסף דיווח&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="row hebrew-direct" style="margin-top: 1em">
              <div *ngIf="createDialog" class="form-group" (keyup)="checkForCtrlEnter($event)">
                <!--<p-calendar [(ngModel)]="tes" [stepMinute]=10 hourFormat="24" readonlyInput="true" dataType="string" [timeOnly]="true"></p-calendar>-->
                <div class="btn-group" style="padding: 0 0 0.5em 0">
                  <button type="button" class="btn ui-button-secondary" style="font-size: xx-small" iconPos="right" pButton icon="fa-clock-o" (click)="makeWholeDay()" label="דיווח שעות מלא"></button>
                  <button type="button" class="btn ui-button-text" style="font-size:xx-small" iconPos="right" pButton icon="fa-clock-o" (click)="fillDefaultChoice()" label="ברירת מחדל"></button>
                </div>
                <div style="text-align: center; position: relative;">
                  <label for="dayWorkInfoFrom">
                    &nbsp;מ-
                    <p-inputMask [style]="{'width':'5em'}" [(ngModel)]="workInfoItem.from" (keyup)="jump($event)"
                                 id="dayWorkInfoFrom" mask="99:99" inputStyleClass="form-control"
                                 [maxlength]="5"></p-inputMask>
                  </label>
                  <label for="dayWorkInfoTo">
                    &nbsp;עד&nbsp;
                    <p-inputMask [style]="{'width':'5em'}" [(ngModel)]="workInfoItem.to" (keyup)="jump($event)"
                                 mask="99:99" id="dayWorkInfoTo" inputStyleClass="form-control"
                                 [maxlength]="5"></p-inputMask>
                  </label>
                  &nbsp;
                  <label for="clientsDropdown" *ngIf="isPivotal" style="padding: 0.5em 0 0.5em 0">
                    <p-dropdown [options]="clientsDropdown" [style]="{'text-align':'center'}" id="clientsDropdown"
                                panelStyleClass="form-control pull-right" [(ngModel)]="workInfoItem.agreementId"
                                [filter]="true"></p-dropdown>
                  </label>
                </div>
                <br>
                <textarea pInputTextarea [(ngModel)]="workInfoItem.comment" placeholder="תיאור הפעילות " id="dayWorkInfoComment" class="form-control" [maxlength]="75"></textarea>
                <br>
                <button type="button" id="cancelWorkInfoButton" class="pull-left ui-button-danger" style="border-width: 0" pButton icon="fa-undo" iconPos="right" (click)="cancel()" label="בטל"></button>
                <button type="button" id="confirmWorkInfoButton" class="pull-left ui-button-text" style="border-width: 0" pButton icon="fa-check" iconPos="right" (click)="save(workInfoItem)" label="שמור"></button>
                <label for="isEnabled" class="pull-left" [ngClass]="(!!defaultChoiceError && defaultChoiceError.length > 0)? 'underscored':''" style="padding-left: 1em">לשמור כברירת מחדל<p-checkbox id="isEnabled" [(ngModel)]="isEnabled" binary="true"></p-checkbox>
                </label>
              </div>
            </div>
            <div class="row">
              <div *ngIf="error" style="text-align: center" class="alert alert-danger">
                {{error}}
              </div>
              <table class="table table-hover hebrew-direct table_legenda" style="font-size: smaller; table-layout: fixed" [hidden]="isEmptyDay(dayWorkInfos)">
                <thead>
                <tr>
                  <th *ngIf="isPivotal" style="width: 20%">לקוח</th>
                  <th style="width: 10%">מ-</th>
                  <th style="width: 10%">עד-</th>
                  <th style="width: 12%">משך</th>
                  <th [ngStyle]="{'width': (!dayBydayLock)? '65%':'45%'}">תיאור הפעילות </th>
                  <th [ngStyle]="{'width': (!dayBydayLock)? '13%':'0'}"></th>
                  <th [ngStyle]="{'width': (!dayBydayLock)? '13%':'0'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let workInfo of dayWorkInfos">
                  <td style="width: 20%" *ngIf="isPivotal">{{workInfo.clientName}}</td>
                  <td style="width: 10%">{{workInfo.from | time}}</td>
                  <td style="width: 10%">{{workInfo.to | time}}</td>
                  <td style="width: 10%" class="hebrew-direct">{{workInfo.duration | minutesToHours}}</td>
                  <td [ngStyle]="{'width': (!dayBydayLock)? '65%':'45%'}" class="hebrew-direct" style="word-wrap: break-word; text-align: right">{{workInfo.comment}}</td>
                  <td style="width: 13%" *ngIf="!dayBydayLock">
                    <button title="לערוך" type="button" class="btn btn-xs btn-warning" (click)="edit(workInfo)" style="font-size: smaller"><i class="fa fa-pencil fa-fw"></i>&nbsp;ערוך&nbsp;</button>
                  </td>
                  <td style="width: 13%" *ngIf="!dayBydayLock">
                    <button title="למחוק" type="button" class="btn btn-xs btn-danger" (click)="remove(workInfo)" style="font-size: smaller"><i class="fa fa-trash-o fa-fw"></i>&nbsp;מחק&nbsp;</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <!--<div class="modal-footer">
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button style="direction: rtl" class="pull-left" type="button" pButton icon="fa-close" (click)="closeDialog()" iconPos="right" label="סגור"></button>
          </div>
        </div>-->
      </div>
    </div>
  </div>
  <div style="text-align: center; position: relative">
    <div id="errorSuccessField" style="position: absolute; direction: rtl; margin-top: 2.5em" class="hebrew-direct" >
    </div>
    <div style="width: 100%; display: inline-block; margin: 0 auto; font-size: x-small">

      <p-schedule [aspectRatio]="3" [editable]="true" [events]="pluu" #cal (onViewRender)="getMonthAndRender(cal)" [header]="header"
                  (onDayClick)="getDayWork($event)" (onEventClick)="getEventWork($event)" [eventLimit]="2"></p-schedule>
    </div>
  </div>
  <input type="file" style="display: none" id="chooseXslInput" accept=".xls,.xlsx"/>
  <button class="pull-right ui-button ui-state-default ui-corner-left hebrew-direct" id="uploadButton" (click)="uploadReport(cal)"><i class="fa fa-upload save-button" aria-hidden="true" style="color: white"></i>&nbsp;להעלות דיווחים&nbsp;</button>
  <button class="pull-right ui-button ui-state-default  hebrew-direct" aria-hidden="true" id="chooseXslLabel"><i class="fa fa-file-excel-o save-button" aria-hidden="true" style="color: white"></i>&nbsp;בחר קובץ&nbsp;</button>
  <button class="pull-right ui-button ui-state-default" id="downloadTemplate" (click)="pivotalReport(cal, true)">&nbsp;שבלונה&nbsp;<i class="fa fa-table save-button" aria-hidden="true" style="color: white"></i></button>
  <button class="pull-right ui-button ui-state-default ui-corner-right" id="downloadPivotal" (click)="pivotalReport(cal)">&nbsp;XLS שעות גולמי&nbsp;<i class="fa fa-download save-button" aria-hidden="true" style="color: white"></i>&nbsp;</button>
<div class="hebrew-direct" style="text-align: center">

  <span style="margin: 0 auto; font-weight: bold">סה''כ שעות עבודה מדווחות - </span>
  <span id="sumByMonth" style="margin: 0 auto; font-weight: bold">{{sumByMonth | minutesToHours}}</span>
  <br>
  <span style="margin: 0 auto; font-weight: bold">תקן חודשי - </span>
  <span id="defaultMonthHours" style="margin: 0 auto; font-weight: bold">{{(defaultMonthHours?defaultMonthHours:0) + " ש'"}}</span>
</div>
</div>
