<div class="page-header" style="margin: 0">
  <div style="text-align: center; font-size: 300%">
    דיווח שעות
  </div>
</div>
<div style="margin-top: 15px">
  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#dayWorkInfoForm"></button>
  <div id="dayWorkInfoForm" tabindex='-1' class="modal fade" onclose="" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" [style.width]="'110%'">
        <div class="modal-header noselect" style="text-align: center">
          <a id="dayWorkInfoFormClose" style="float: left"  data-dismiss="modal"><span class="fa fa-fw fa-close" style="color: #1a1a1a; cursor: pointer; font-size: large"></span></a>
          <span class="work-infos-modal-title hebrew-direct">
          <i (click)="moveDay(dayForCreatingWorkInfos, -1, activeAgreementId)" title="יום קודם" class="fa fa-arrow-circle-right" style="cursor: pointer" aria-hidden="true"></i>
            {{dayForCreatingWorkInfos | hebrewDate}}
          <i (click)="moveDay(dayForCreatingWorkInfos, 1, activeAgreementId)" title="יום הבא" class="fa fa-arrow-circle-left" style="cursor: pointer" aria-hidden="true"></i>
          </span>
        </div>
        <div class="modal-body" style="width: 90%; margin: 0 auto">
          <div style="min-height: 100%">
            <span id="defaultChoiceError" (click)="defaultChoiceError = ''" style="position: absolute; font-size: smaller; color: red; direction: rtl; margin-top: 3em"
                  class="hebrew-direct">
              {{defaultChoiceError}}
            </span>
            <div style="text-align: center">
                <h3>דיווח שעות עבודה</h3>
            </div>
            <div *ngIf="!dayBydayLock && !inCreation && !!clientsDropdown[0]">
              <button type="button" class="btn btn-xs btn-info" title="הוסף דיווח" (click)="create()">&nbsp;הוסף דיווח&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="row hebrew-direct" style="margin-top: 1em">
              <div *ngIf="createDialog" class="form-group" (keyup)="checkForCtrlEnter($event)">
                <!--<p-calendar [(ngModel)]="tes" [stepMinute]=10 hourFormat="24" readonlyInput="true" dataType="string" [timeOnly]="true"></p-calendar>-->
                <div class="btn-group" style="padding: 0 0 0.5em 0">
                  <button type="button" class="btn ui-button-secondary" style="font-size: xx-small" iconPos="right" pButton icon="fa-clock-o" (click)="makeWholeDay()" label="יום עבודה מלא 9-18"></button>
                  <button type="button" class="btn ui-button-text" style="font-size:xx-small" iconPos="right" pButton icon="fa-clock-o" (click)="fillDefaultChoices()" label="דווח לקוח ושעות ברירת מחדל"></button>
                </div>
                <div style="text-align: center; position: relative;">
                  <label for="dayWorkInfoFrom">
                    &nbsp;מ-&nbsp;<br>
                    <p-inputMask [style]="{'width':'5em', 'padding-bottom':'0.4em'}" [(ngModel)]="workInfoItem.from" (keyup)="jump($event)"
                                 id="dayWorkInfoFrom" mask="99:99" inputStyleClass="form-control"
                                 [maxlength]="5"></p-inputMask>
                  </label>
                  <label for="dayWorkInfoTo">
                    &nbsp;עד-&nbsp;<br>
                    <p-inputMask [style]="{'width':'5em', 'padding-bottom':'0.4em'}" [(ngModel)]="workInfoItem.to" (keyup)="jump($event)"
                                 mask="99:99" id="dayWorkInfoTo" inputStyleClass="form-control"
                                 [maxlength]="5"></p-inputMask>
                  </label>
                  &nbsp;
                  <label for="clientsDropdown" *ngIf="isPivotal" style="padding: 0 0 0.5em 0" class="hebrew-direct">
                    &nbsp;לקוח&nbsp;<br>
                    <p-dropdown [options]="clientsDropdown" id="clientsDropdown"
                                [scrollHeight] = "scale+'px'"
                                [(ngModel)]="chosenClient"  (keyup)="jump($event)"  [style]="{'z-index': '9999','width':'190px'}" (onChange)="getProjectsUi(chosenClient)"
                                [autoWidth]="false"
                                [filter]="true">
                      <template let-cl pTemplate="item">
                        <div class="row" style="text-align: right;">
                          <div class="col-sm-11">
                            <span [ngClass]="getDirection(cl.label)" class="hebrew-direct ">{{cl.label}}</span>
                          </div>
                        </div>
                      </template>
                    </p-dropdown>
                  </label>
                  <label for="projectsDropdown" *ngIf="isPivotal" style="padding: 0 0 0.5em 0">
                    &nbsp;פרויקט&nbsp;<br>
                    <p-dropdown [options]="projectsDropdown" id="projectsDropdown"
                                [autoWidth]="false"
                                [scrollHeight] = "scale+'px'"
                                [(ngModel)]="chosenAgreement" (keyup)="jump($event)" [style]="{'z-index': '5','width':'190px'}" (onChange)="getClient(chosenAgreement)"
                                [filter]="true"
                                >
                      <template let-proj pTemplate="item">
                        <div class="row" style="text-align: right;">
                          <div class="col-sm-11">
                            <span [ngClass]="getDirection(proj.label)" class="hebrew-direct">{{proj.label}}</span>
                          </div>
                        </div>
                      </template>
                    </p-dropdown>
                  </label>
                </div>
                <div style="font-size: smaller; border: #EEEEEE solid 1px" *ngIf="defaultChoicesDialog">
                  <div *ngFor="let defaultChoice of defaultChoices" class="hebrew-direct row" style="margin-bottom: 10px; margin-top: 10px; margin-right: 10px; width: 90%">
                    <!--<li class="hebrew-direct col-md-2 pull-right list-group-item" style="text-align: right">{{ defaultChoice.agreement.id}}</li>-->
                    <span class="hebrew-direct col-md-4 pull-right " style="text-align: right">{{ defaultChoice.agreement.clientName}}</span>
                    <span class="hebrew-direct col-md-4  pull-right " style="text-align: right">{{ defaultChoice.agreement.projectName}}</span>
                    <span class="hebrew-direct col-md-1  pull-right " style="text-align: right">{{ defaultChoice.start.substring(0,5)}}</span>
                    <span class="hebrew-direct col-md-1  pull-right " style="text-align: right">{{ defaultChoice.finish.substring(0,5)}}</span>
                    <span class="hebrew-direct col-md-1  pull-right " style="text-align: right"><button title="למחוק" type="button" class="btn btn-xs btn-danger pull-right" (click)="removeDefaultChoice(defaultChoice.id)"  style="font-size: smaller;"><i class="fa fa-trash-o fa-fw"></i>&nbsp;מחק&nbsp;</button></span>
                    <span class="hebrew-direct col-md-1  pull-right " style="text-align: right; padding-right: 2em"><button title="לבחור" type="button" class="btn btn-xs btn-success pull-right" (click)="chooseDefaultChoice(defaultChoice.id)"  style="font-size: smaller;"><i class="fa fa-check fa-fw"></i>&nbsp;בחר&nbsp;</button></span>

                  </div>
                </div>
                <br>
                <textarea pInputTextarea [(ngModel)]="workInfoItem.comment" placeholder="תיאור הפעילות " id="dayWorkInfoComment" class="form-control" [maxlength]="255"></textarea>
                <br>
                <button type="button" id="cancelWorkInfoButton" class="pull-left ui-button-danger" style="border-width: 0" pButton icon="fa-undo" iconPos="right" (click)="cancel()" label="בטל"></button>
                <button type="button" id="confirmWorkInfoButton" class="pull-left ui-button-text" style="border-width: 0" pButton icon="fa-check" iconPos="right" (click)="save(workInfoItem)" label="שמור"></button>
                <label for="isEnabled" class="pull-left" [ngClass]="(!!defaultChoiceError && defaultChoiceError.length > 0)? 'underscored':''" style="padding-left: 1em">קבע דיווח זה כברירת מחדל<p-checkbox id="isEnabled" [(ngModel)]="isEnabled" binary="true"></p-checkbox>
                </label>
              </div>

            </div>
            <div class="row">
              <div *ngIf="error" style="text-align: center" class="alert alert-danger">
                {{error}}
              </div>
              <table class="table table-hover hebrew-direct table_legenda" style="font-size: smaller; table-layout: fixed" [hidden]="isEmptyDay(dayWorkInfos)">
                <thead>
                <tr>
                  <th *ngIf="isPivotal" style="width: 20%">לקוח</th>
                  <th *ngIf="isPivotal" style="width: 20%">פרויקט</th>
                  <th style="width: 10%">מ-</th>
                  <th style="width: 10%">עד-</th>
                  <th style="width: 12%">משך</th>
                  <th [ngStyle]="{'width': (!dayBydayLock)? '65%':'45%'}">תיאור הפעילות </th>
                  <th [ngStyle]="{'width': (!dayBydayLock)? '13%':'0'}"></th>
                  <th [ngStyle]="{'width': (!dayBydayLock)? '13%':'0'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let workInfo of dayWorkInfos">
                  <td style="width: 20%" *ngIf="isPivotal">{{workInfo.clientName}}</td>
                  <td style="width: 20%" *ngIf="isPivotal">{{workInfo.projectName}}</td>
                  <td style="width: 10%">{{workInfo.from | time}}</td>
                  <td style="width: 10%">{{workInfo.to | time}}</td>
                  <td style="width: 10%" class="hebrew-direct">{{workInfo.duration | minutesToHours}}</td>
                  <td [ngStyle]="{'width': (!dayBydayLock)? '65%':'45%'}" class="hebrew-direct" style="word-wrap: break-word; text-align: right">{{workInfo.comment}}</td>
                  <td style="width: 13%" *ngIf="!dayBydayLock">
                    <button [disabled]="!workInfo.isActiveAgreement||this.isInfoCotainsDisabled(workInfo)" title="לערוך" type="button" class="btn btn-xs btn-warning" (click)="edit(workInfo)" style="font-size: smaller"><i class="fa fa-pencil fa-fw"></i>&nbsp;ערוך&nbsp;</button>
                  </td>
                  <td style="width: 13%" *ngIf="!dayBydayLock">
                    <button [disabled]="!workInfo.isActiveAgreement||this.isInfoCotainsDisabled(workInfo)" title="למחוק" type="button" class="btn btn-xs btn-danger" (click)="remove(workInfo)" style="font-size: smaller"><i class="fa fa-trash-o fa-fw"></i>&nbsp;מחק&nbsp;</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center; position: relative">
    <div id="errorSuccessField" style="position: absolute; direction: rtl; margin-top: 2.5em" class="hebrew-direct" >
    </div>
    <div style="width: 100%; display: inline-block; margin: 0 auto; font-size: x-small">

      <p-schedule [aspectRatio]="3" [editable]="true" [events]="pluu" #cal (onViewRender)="getMonthAndRender(cal)" [header]="header"
                  (onDayClick)="getDayWork($event)" (onEventClick)="getEventWork($event)" [eventLimit]="{'month':3,'basicWeek':24}"></p-schedule>
    </div>
  </div>
  <input type="file" style="display: none" id="chooseXslInput" accept=".xls,.xlsx"/>
  <button class="pull-right ui-button ui-state-default ui-corner-left hebrew-direct" id="uploadButton" (click)="uploadReport(cal)"><i class="fa fa-upload save-button" aria-hidden="true" style="color: white"></i>&nbsp;טען קובץ דיווח&nbsp;</button>
  <button class="pull-right ui-button ui-state-default  hebrew-direct" aria-hidden="true" id="chooseXslLabel"><i class="fa fa-file-excel-o save-button" aria-hidden="true" style="color: white"></i>&nbsp;בחר קובץ דיווח לטעינה&nbsp;</button>
  <button class="pull-right ui-button ui-state-default hebrew-direct" id="downloadTemplate" (click)="pivotalReport(cal, true)"><i class="fa fa-table save-button" aria-hidden="true" style="color: white"></i>&nbsp;הורד Template שעות דיווח&nbsp;</button>
  <button class="pull-right ui-button ui-state-default ui-corner-right" id="downloadPivotal" (click)="pivotalReport(cal)">&nbsp;הורד קובץ דיווח שעות לאקסל&nbsp;<i class="fa fa-download save-button" aria-hidden="true" style="color: white"></i>&nbsp;</button>
<div class="hebrew-direct" style="text-align: center">

  <span style="margin: 0 auto; font-weight: bold">סה''כ שעות עבודה מדווחות - </span>
  <span id="sumByMonth" style="margin: 0 auto; font-weight: bold">{{sumByMonth | minutesToHours}}</span>
  <br>
  <span style="margin: 0 auto; font-weight: bold">תקן חודשי - </span>
  <span id="defaultMonthHours" style="margin: 0 auto; font-weight: bold">{{(defaultMonthHours?defaultMonthHours:0) + " ש'"}}</span>
</div>
</div>
