<div class="modal-dialog">

  <div class="modal-content hebrew-direct">
    <div class="modal-header" style="text-align: center">
      <button type="button" class="close pull-left" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">הוסיף עובד ל{{!!project?project.name:''}} ב{{clientName}}</h4>
    </div>
    <form [formGroup]="agreementCreationForm" (ngSubmit)="save(agreementCreationForm.value)">
    <div class="modal-body" style="width: auto">
      <div *ngIf="errorEmployee" style="text-align: center" class="alert alert-danger">
        {{errorEmployee}}</div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p-dropdown [options]="departmentsUi" [required]="false" [style]="{'width':'20%', 'margin':'0 1em 0 0'}"
                        (onChange)="initEmployees(agreementCreationForm.controls.department.value)"
                        formControlName="department" [filter]="true"></p-dropdown>
            <p-dropdown [options]="employeesUi" [required]="true" [style]="{'width':'40%', 'margin':'0 1em 0 0'}"
                        formControlName="employee" [filter]="true"></p-dropdown>
          </div>
        </div>
        <div formGroupName="tariff" class="col-md-12">
          <div class="form-group">
          <span class="pull-right">
            <input style="margin: 0 1em 0 0" OnlyNumber="true" type="number" pInputText placeholder="סכום *" formControlName="amount">
          </span>
            <p-dropdown [options]="currenciesUi" [style]="{'width':'20%', 'margin':'0 1em 0 0'}" formControlName="currency"></p-dropdown>
            <p-dropdown [options]="tariffTypesUi" [style]="{'width':'20%', 'margin':'0 1em 0 0'}" formControlName="type"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer col-md-12">
      <button id="closeProjectEmployeeForm" type="button" class="btn btn-default pull-left" data-dismiss="modal">סגור</button>
      <button type="submit" [disabled]="!agreementCreationForm.valid" class="pull-left btn btn-primary">שמור</button>
    </div>
    </form>
  </div>
</div>
