<div style="margin-top: 15px">
  <h3 style="text-align: center" *ngIf="employee"><a style="cursor: pointer" (click)="lockUnlock(currentMonthFirstDay)"><i style="color: black" [ngClass]="'fa ' + lockClass" aria-hidden="true"></i></a> {{employee.surname}} {{employee.name}} </h3>
  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#dayWorkInfoForm"></button>
  <div id="dayWorkInfoForm" tabindex='-1' class="modal fade" onclose="" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" [style.width]="'110%'">
        <div class="modal-header noselect" style="text-align: center">
          <a id="dayWorkInfoFormClose" style="float: left"  data-dismiss="modal"><span class="fa fa-fw fa-close" style="color: #1a1a1a; cursor: pointer; font-size: large"></span></a>
          <span class="work-infos-modal-title hebrew-direct">
          <i (click)="moveDay(dayForCreatingWorkInfos, -1, activeAgreementId)" title="יום קודם" class="fa fa-arrow-circle-right" style="cursor: pointer" aria-hidden="true"></i>
            {{dayForCreatingWorkInfos | hebrewDate}}
          <i (click)="moveDay(dayForCreatingWorkInfos, 1, activeAgreementId)" title="יום הבה" class="fa fa-arrow-circle-left" style="cursor: pointer" aria-hidden="true"></i>
          </span>
        </div>
        <div class="modal-body" style="width: 90%; margin: 0 auto">
          <div style="min-height: 100%">
            <div style="text-align: center" class="hebrew-direct">
              <h3 id="dasdasd" *ngIf="isPivotal">דיווח שעות עבודה</h3>
              <h3 *ngIf="!isPivotal && !!clientForCreatingWorkInfos">דיווח שעות עבודה ב{{clientForCreatingWorkInfos}}</h3>
            </div>
            <div *ngIf="!dayByDayLock && !inCreation">
              <button type="button" class="btn btn-xs btn-info" title="הוסף דיווח" (click)="create()">&nbsp;הוסף דיווח&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="row hebrew-direct" style="margin-top: 1em">
              <div *ngIf="createDialog" class="form-group" (keyup)="checkForCtrlEnter($event)">
                <!--<p-calendar [(ngModel)]="tes" [stepMinute]=10 hourFormat="24" readonlyInput="true" dataType="string" [timeOnly]="true"></p-calendar>-->
                <div class="btn-group" style="padding: 0 0 0.5em 0">
                  <button type="button" class="btn ui-button-secondary" style="font-size: xx-small" iconPos="right" pButton icon="fa-clock-o" (click)="makeWholeDay()" label="יום עבודה מלא 9-18"></button>
                </div>
                <div style="text-align: center; position: relative;">
                  <label for="dayWorkInfoFrom">
                    &nbsp;מ-&nbsp;<br>
                    <p-inputMask [style]="{'width':'5em'}" [(ngModel)]="workInfoItem.from" (keyup)="jump($event)"
                                 id="dayWorkInfoFrom" mask="99:99" inputStyleClass="form-control"
                                 [maxlength]="5"></p-inputMask>
                  </label>
                  <label for="dayWorkInfoTo">
                    &nbsp;עד-&nbsp;<br>
                    <p-inputMask [style]="{'width':'5em'}" [(ngModel)]="workInfoItem.to" (keyup)="jump($event)"
                                 mask="99:99" id="dayWorkInfoTo" inputStyleClass="form-control"
                                 [maxlength]="5"></p-inputMask>
                  </label>
                  &nbsp;
                  <label for="clientsDropdownDash" *ngIf="isPivotal" style="padding: 0.5em 0 0.5em 0" class="hebrew-direct">
                    &nbsp;לקוח&nbsp;<br>
                    <p-dropdown [options]="clientsDropdown" id="clientsDropdownDash"
                                [(ngModel)]="chosenClient" (onChange)="getProjectsUi(chosenClient)"
                                [filter]="true">
                      <template let-cl pTemplate="item">
                        <div class="row" style="text-align: right;">
                          <div class="col-sm-11">
                            <span class="hebrew-direct pull-right">{{cl.label}}</span>
                          </div>
                        </div>
                      </template>
                    </p-dropdown>
                  </label>
                  <label for="projectsDropdownDash" *ngIf="isPivotal">
                    &nbsp;פרויקט&nbsp;<br>
                    <p-dropdown [options]="projectsDropdown" id="projectsDropdownDash"
                                [(ngModel)]="chosenAgreement" (onChange)="getClient(chosenAgreement)"
                                [filter]="true">
                      <template let-proj pTemplate="item">
                        <div class="row" style="text-align: right;">
                          <div class="col-sm-11">
                            <span class="hebrew-direct pull-right">{{proj.label}}</span>
                          </div>
                        </div>
                      </template>
                    </p-dropdown>
                  </label>
                </div>
                <br>
                <textarea pInputTextarea [(ngModel)]="workInfoItem.comment" placeholder="תיאור הפעילות " id="dayWorkInfoComment" class="form-control" [maxlength]="255"></textarea>
                <br>
                <button type="button" id="cancelWorkInfoButton" class="pull-left ui-button-danger" style="border-width: 0" pButton icon="fa-undo" iconPos="right" (click)="cancel()" label="בטל"></button>
                <button type="button" id="confirmWorkInfoButton" class="pull-left ui-button-text" style="border-width: 0" pButton icon="fa-check" iconPos="right" (click)="save(workInfoItem)" label="שמור"></button>
              </div>
            </div>
            <div class="row">
              <div *ngIf="error" style="text-align: center" class="alert alert-danger">
                {{error}}
              </div>
              <table class="table table-hover hebrew-direct table_legenda" style="font-size: smaller; table-layout: fixed" [hidden]="isEmptyDay(dayWorkInfos)">
                <thead>
                <tr>
                  <th *ngIf="isPivotal" style="width: 20%">לקוח</th>
                  <th style="width: 10%">מ-</th>
                  <th style="width: 10%">עד-</th>
                  <th style="width: 12%">משך</th>
                  <th [ngStyle]="{'width': (!dayByDayLock)? '65%':'45%'}">תיאור הפעילות </th>
                  <th [ngStyle]="{'width': (!dayByDayLock)? '13%':'0'}"></th>
                  <th [ngStyle]="{'width': (!dayByDayLock)? '13%':'0'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let workInfo of dayWorkInfos">
                  <td  style="width: 20%" *ngIf="isPivotal">{{workInfo.clientName}}</td>
                  <td style="width: 10%">{{workInfo.from | time}}</td>
                  <td style="width: 10%">{{workInfo.to | time}}</td>
                  <td style="width: 10%" class="hebrew-direct">{{workInfo.duration | minutesToHours}}</td>
                  <td [ngStyle]="{'width': (!dayByDayLock)? '65%':'45%'}" class="hebrew-direct" style="word-wrap: break-word; text-align: right">{{workInfo.comment}}</td>
                  <td style="width: 13%" *ngIf="!dayByDayLock">
                    <button title="לערוך" type="button" class="btn btn-xs btn-warning" (click)="edit(workInfo)" style="font-size: smaller"><i class="fa fa-pencil fa-fw"></i>&nbsp;ערוך&nbsp;</button>
                  </td>
                  <td style="width: 13%" *ngIf="!dayByDayLock">
                    <button title="למחוק" type="button" class="btn btn-xs btn-danger" (click)="remove(workInfo)" style="font-size: smaller"><i class="fa fa-trash-o fa-fw"></i>&nbsp;מחק&nbsp;</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center" *ngIf="employee">
    <div style="margin: 10px">
      <div class="container" style="padding: 1em">
        <div class="row">
          <div class="col-md-1"></div>
          <div class=" pull-left">
            <ss-multiselect-dropdown [options]="clientsCheckboxOptions" [texts]="clientsCheckboxTexts" [settings]="clientsCheckboxSettings" [(ngModel)]="clientsUi"></ss-multiselect-dropdown>
          </div>
          <div class="pull-left">
            <a class="btn" id="lupa" (click)="search(clientsUi)"><i style="color: #1a1a1a; font-size: x-large" class="fa fa-search" aria-hidden="true"></i></a>
          </div>
          <div class="col-md-4 pull-right">
            <button (click)="moveWeekForward()" class="btn btn-sm btn-info"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;שבוע הבה&nbsp;</button>
            <button (click)="moveWeekBack()" class="btn btn-sm btn-warning">&nbsp;שבוע קודם&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></button>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <table style="width:100%; font-size: small">
        <thead class="hebrew-direct" style="font-size: inherit">
        <tr class="hebrew-direct">
          <th colspan="2" style="width: 10%">סה"כ</th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(getDayByWeek(currentSunday, 6))" style="cursor: pointer; font-size: smaller">{{getDayByWeek(currentSunday, 6) | hebrewDate}}</a></th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(getDayByWeek(currentSunday, 5))" style="cursor: pointer; font-size: smaller">{{getDayByWeek(currentSunday, 5) | hebrewDate}}</a></th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(getDayByWeek(currentSunday, 4))" style="cursor: pointer; font-size: smaller">{{getDayByWeek(currentSunday, 4) | hebrewDate}}</a></th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(getDayByWeek(currentSunday, 3))" style="cursor: pointer; font-size: smaller">{{getDayByWeek(currentSunday, 3) | hebrewDate}}</a></th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(getDayByWeek(currentSunday, 2))" style="cursor: pointer; font-size: smaller">{{getDayByWeek(currentSunday, 2) | hebrewDate}}</a></th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(getDayByWeek(currentSunday, 1))" style="cursor: pointer; font-size: smaller">{{getDayByWeek(currentSunday, 1) | hebrewDate}}</a></th>
          <th colspan="1" style="width: 10%"><a (click)="showPivotalWorkDayDialog(currentSunday)" style="cursor: pointer; font-size: smaller">{{currentSunday | hebrewDate}}</a></th>
          <th colspan="2" style="width: 10%">פרויקט</th>
          <th colspan="2" style="width: 10%">שם לקוח</th>
        </tr>
        </thead>
        <tbody class="hebrew-direct">
        <tr *ngFor="let item of uiAgreements">
          <td colspan="2" style="width: 10%; font-size: smaller">
            {{sum(item.workInfos) | minutesToHours}}
          </td>
          <td colspan="1" style="width: 10%" *ngFor="let work of item.workInfos | reverse">
        <span style="cursor: pointer" (click)="showWorkDayDialog(work, item)">
        <button [ngStyle]="{'width': '90%', 'direction':'rtl', 'background-color': '#FFFFFF'}"
               style="width: inherit; font-size: smaller; text-align: center; border-style:solid; border-width: 1px; border-radius: 3px;"
              >{{work.duration | minutesToHours}}</button>
        </span>
          </td>
          <td colspan="2" style="width: 10%">
            {{item.projectName}}
          </td>
          <td colspan="2" style="width: 10%">
            {{item.clientName}}
          </td>
        </tr>
        <tr>
          <td colspan="2" style="font-weight: bolder">{{sumByWeek | minutesToHours}}</td>
          <td *ngFor="let sumByDay of sumByDayArr | reverse" style="font-weight: bolder">
            {{sumByDay | minutesToHours}}
          </td>
          <td colspan="4" style="font-weight: bolder">
            שעות ביום
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

