<div style="margin-top: 15px">
  <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#dayWorkInfoForm"></button>
  <div id="dayWorkInfoForm" tabindex='-1' class="modal fade" onclose="" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" [style.width]="'100%'">
        <div class="modal-header noselect" style="text-align: center">
          <a id="dayWorkInfoFormClose" style="float: left"  data-dismiss="modal"><span class="fa fa-fw fa-close" style="color: #1a1a1a; cursor: pointer; font-size: large"></span></a>
          <span class="work-infos-modal-title hebrew-direct">
          <i (click)="moveDay(dayForCreatingWorkInfos, -1, activeAgreementId)" title="יום קודם" class="fa fa-arrow-circle-right" style="cursor: pointer" aria-hidden="true"></i>
            {{dayForCreatingWorkInfos | hebrewDate}}
          <i (click)="moveDay(dayForCreatingWorkInfos, 1, activeAgreementId)" title="יום הבה" class="fa fa-arrow-circle-left" style="cursor: pointer" aria-hidden="true"></i>
          </span>
        </div>
        <div class="modal-body" style="width: 90%; margin: 0 auto">
          <div style="min-height: 100%">
            <div style="text-align: center">
              <h3 id="dasdasd">עבודה יומי</h3>
            </div>
            <div *ngIf="!dayByDayLock">
              <button type="button" class="btn btn-xs btn-info" title="הוסיף יחידת עבודה" (click)="create()">&nbsp;הוסיף&nbsp;<i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="row hebrew-direct" style="margin-top: 1em">
              <div *ngIf="createDialog" class="form-group" (keyup)="checkForEnter($event)">
                <!--<p-calendar [(ngModel)]="tes" [stepMinute]=10 hourFormat="24" readonlyInput="true" dataType="string" [timeOnly]="true"></p-calendar>-->
                <label for="dayWorkInfoFrom">
                  &nbsp;מ&nbsp;
                  <p-inputMask [(ngModel)]="workInfoItem.from" (keyup)="jump($event)" id="dayWorkInfoFrom" mask="99:99" inputStyleClass="form-control" [maxlength]="5"></p-inputMask>
                </label>
                <label for="dayWorkInfoTo">
                  &nbsp;עד&nbsp;
                  <p-inputMask [(ngModel)]="workInfoItem.to" (keyup)="jump($event)" mask="99:99" id="dayWorkInfoTo" inputStyleClass="form-control" [maxlength]="5"></p-inputMask>
                </label>
                <button type="button" iconPos="right" pButton icon="fa-clock-o" (click)="makeWholeDay()" label="24"></button>
                <br>
                <label for="clientsDropdown" *ngIf="isPivotal && !isEdit">
                  <p-dropdown [options]="clientsDropdown" [style]="{'text-align':'center'}" id="clientsDropdown" panelStyleClass="form-control pull-right" [(ngModel)]="workInfoItem.agreementId" [filter]="true"></p-dropdown>
                </label>
                <br>
                <textarea pInputTextarea [(ngModel)]="workInfoItem.comment" placeholder="תאור" id="dayWorkInfoComment" class="form-control" [maxlength]="50"></textarea>
                <br>
                <button type="button" id="confirmWorkInfoButton" class="pull-left" pButton icon="fa-check" iconPos="right" (click)="save(workInfoItem)" label="שמור"></button>
              </div>
            </div>
            <div class="row">
              <div *ngIf="error" style="text-align: center" class="alert alert-danger">
                {{error}}
              </div>
              <table class="table table-hover hebrew-direct table_legenda" style="font-size: smaller; table-layout: fixed" [hidden]="isEmptyDay(dayWorkInfos)">
                <thead>
                <tr>
                  <th *ngIf="isPivotal" style="width: 20%">לקוח</th>
                  <th style="width: 10%">מ-</th>
                  <th style="width: 10%">עד-</th>
                  <th style="width: 10%">משך</th>
                  <th [ngStyle]="{'width': (!dayByDayLock)? '65%':'45%'}">תאור</th>
                  <th [ngStyle]="{'width': (!dayByDayLock)? '13%':'0'}"></th>
                  <th [ngStyle]="{'width': (!dayByDayLock)? '13%':'0'}"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let workInfo of dayWorkInfos">
                  <td  style="width: 20%" *ngIf="isPivotal">{{workInfo.clientName}}</td>
                  <td style="width: 10%">{{workInfo.from | time}}</td>
                  <td style="width: 10%">{{workInfo.to | time}}</td>
                  <td style="width: 10%" class="english-direct">{{workInfo.duration | minutesToHours}}</td>
                  <td [ngStyle]="{'width': (!dayByDayLock)? '65%':'45%'}">{{workInfo.comment}}</td>
                  <td style="width: 13%" *ngIf="!dayByDayLock">
                    <button title="לערוך" type="button" class="btn btn-xs btn-warning" (click)="edit(workInfo)" style="font-size: smaller"><i class="fa fa-pencil fa-fw"></i>&nbsp;ערוך&nbsp;</button>
                  </td>
                  <td style="width: 13%" *ngIf="!dayByDayLock">
                    <button title="למחוק" type="button" class="btn btn-xs btn-danger" (click)="remove(workInfo)" style="font-size: smaller"><i class="fa fa-trash-o fa-fw"></i>&nbsp;מחק&nbsp;</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button class="pull-left" type="button" pButton icon="fa-check" (click)="closeDialog()" label="Ok"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center" *ngIf="employee">
    <div style="width: 80%; display: inline-block; margin: 0 auto; font-size: x-small">

      <p-schedule [contentHeight]="385" [editable]="true" [events]="pluu" #cal (onViewRender)="getMonthAndRender(cal)"
                  [header]="header"
                  (onDayClick)="getDayWork($event)" (onEventClick)="getEventWork($event)" [eventLimit]="3"></p-schedule>
    </div>
  <div style="text-align: center">

    <span id="adminSumByMonth" style="margin: 0 auto; font-weight: bold">{{sumByMonth | minutesToHours}}</span>
    <span style="margin: 0 auto; font-weight: bold"> - סה''כ שעות בחודש</span>
  </div>
  </div>
</div>
