<div *ngIf="client" class="col-sm-12 col-md-7 jumbotron pull-left" style="background-color: rgba(104, 157, 255, 0.32)">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title" style="font-weight: bold; text-align: center">{{client.name}}</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <p style="font-size: small" class="btn btn-xs btn-warning" data-toggle="modal" data-keyboard="true" data-target="#clientEditionForm"><i
                class="fa fa-pencil-square-o"></i>&nbsp;ערוך</p></li>
        <li class="list-group-item" *ngFor="let address of client.addresses">{{(address.houseNumber>0? address.houseNumber:'')+'&nbsp;'+address.street+'&nbsp;'+address.city}}<span
          class="pull-right"><strong>כתובת</strong></span></li>
        <li class="list-group-item"><span *ngFor="let phone of client.phones">{{phone}}&nbsp;&nbsp;</span><span
          class="pull-right"><strong>טל</strong></span></li>
      </ul>
      <h4 style="text-align: center">פרויקטים</h4>
      <table class="table table-responsive table-condensed" style="margin: 0 auto;width: 50%">
        <thead>
        <tr>
          <td colspan="2"><a style="cursor: pointer" (click)="popupCreate()"><i class="module-plus glyphicon glyphicon-plus" aria-hidden="true"></i></a></td>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of client.projects">
            <td>{{project.name}}</td>
            <td><a style="cursor: pointer" (click)="popupEdit(project)"><i class="fa fa-pencil" aria-hidden="true"></i></a> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<p-dialog header="{{labelForProjectPopup}}" modal="modal" width="300" responsive="true" [(visible)]="displayFormProjectDialog">
    <input type="text" id="projName" pInputText [(ngModel)]="formProject.name"/>
  <label for="projName">&nbsp;שם פרויקט
  </label>
  <p-footer>
    <div *ngIf="errorClient" style="text-align: center" class="alert alert-danger">
      {{errorClient}}</div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix pull-left">
      <button type="button" pButton icon="fa-check" (click)="updateOrCreateProject(formProject)" label="כן"></button>
      <button type="button" class="ui-button-danger" pButton icon="fa-close" (click)="displayFormProjectDialog=false" label="לא"></button>
    </div>
  </p-footer>
</p-dialog>

<client-form id="clientEditionForm" [clientForCreation]="client" tabindex='-1' class="modal fade" onclose="" role="dialog">

