<div *ngIf="client" class="col-sm-12 col-md-7 jumbotron pull-left app-block">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title" style="font-weight: bold; text-align: center">{{client.name}}</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <p style="font-size: small" class="btn btn-xs btn-warning" data-toggle="modal" data-keyboard="true" data-target="#clientEditionForm">ערוך&nbsp;<i
                class="fa fa-pencil-square-o"></i></p></li>
        <li class="list-group-item" *ngIf="client.clientNumber">{{client.clientNumber}}<span class="pull-right"><strong>מספר לקוח</strong></span></li>
        <li class="list-group-item" *ngIf="client.companyNumber">{{client.companyNumber}}<span class="pull-right"><strong>ח.פ. חברה</strong></span></li>
        <li class="list-group-item" *ngFor="let address of client.addresses; let i = index" [attr.data-index]="i">{{(address.houseNumber>0? address.houseNumber:'')+'&nbsp;'+address.street+'&nbsp;'+address.city}}<span
          class="pull-right"><strong>כתובת {{i + 1}}</strong></span></li>
        <li *ngIf="client.phones" class="list-group-item"><span *ngFor="let phone of client.phones">{{phone}}&nbsp;&nbsp;</span><span
          class="pull-right"><strong>טל</strong></span></li>
      </ul>
      <h3 style="text-align: center">פרויקטים</h3>

      <div class="col-md-12 hebrew-direct" style="text-align: center">
        <p-header><a style="cursor: pointer; color: #1a1a1a" (click)="popupCreate()"><i class="module-plus glyphicon glyphicon-plus" aria-hidden="true"></i></a><span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: larger">&nbsp;הוסף פרויקט&nbsp;</span></p-header>
        <div *ngIf="client.projects">
        <p-dataTable [value]="client.projects" emptyMessage="אין נתונים" expandableRows="true" [style]="{'text-align':'center', 'font-size':'12px', 'width':'100%', 'margin':'0 auto'}">
          <p-column field="name" header="שם פרויקט" [sortable]="true"></p-column>
          <p-column header="תעריף" [sortable]="true">
            <template let-col let-proj="rowData" pTemplate="body">
              <span class="hebrew-direct">{{proj.tariff.amount}} {{proj.tariff.currency | currencyPipe}} {{proj.tariff.type | tariffType}}</span>
            </template>
          </p-column>
          <p-column header="ערוך" [style]="{'width':'8%'}">
            <template let-col let-proj="rowData" pTemplate="body">
              <span><a style="cursor: pointer" (click)="popupEdit(proj)"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
            </template>
          </p-column>
          <p-column expander="true" styleClass="col-icon" [style]="{'width':'7%'}"></p-column>
          <template let-proj pTemplate="rowexpansion">
            <table class="table table-responsive table-condensed hebrew-direct" style="margin: 0 auto;width: 75%; border: none">
              <thead>
              <tr>
                <td colspan="9"><a style="cursor: pointer; color: #1a1a1a" (click)="popupCreateAgreement(proj)"><i class="module-plus glyphicon glyphicon-plus" aria-hidden="true"></i></a><span style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size: larger">&nbsp;הוסף עובד&nbsp;</span></td>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let agreement of proj.workAgreements" class="hebrew-direct">
                    <td colspan="5">{{agreement.employee.name + ' ' + agreement.employee.surname}}</td>
                    <td colspan="4">{{agreement.tariff.amount}} {{agreement.tariff.currency | currencyPipe}} {{agreement.tariff.type | tariffType}}</td>
                    <td colspan="1"><a style="cursor: pointer; text-align: center" (click)="popupEditAgreement(proj, agreement)"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                  </tr>
              </tbody>
            </table>
          </template>
        </p-dataTable>
        </div>
      </div>
    </div>
  </div>
</div>
<button id="projectEmployeeFormOpen" style="visibility: hidden" data-toggle="modal" data-keyboard="true" data-target="#employeeProjectEditionForm"></button>
<project-employee-form id="employeeProjectEditionForm"
                       *ngIf="agreement"
                       [agreement]="agreement" [project]="project" [clientName]="clientName"
                       tabindex='-1' class="modal fade" onclose="" role="dialog"></project-employee-form>

<button id="openProjectFormElem" [hidden]="true" data-toggle="modal" data-target="#projectCreationForm"></button>
<div id="projectCreationForm" tabindex='-1' class="modal fade" onclose="" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content hebrew-direct">
      <div class="modal-header" style="text-align: center">
        <button type="button" id="closeProjectFormElem" class="close pull-left" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> {{labelForProjectPopup}} </h4>
      </div>
        <form [formGroup]="projectCreationForm" (ngSubmit)="updateOrCreateProject(projectCreationForm)">
      <div class="modal-body">
        <div *ngIf="errorClient" style="text-align: center" class="alert alert-danger">
          {{errorClient}}
        </div>
          <div class="row col-md-12">
            <div class="form-group col-md-6 pull-right">
              <input type="text" placeholder="שם פרויקט *" class="form-control" formControlName="name">
            </div>
          </div>
          <div formGroupName="tariff" class="row col-md-12">
            <div class="form-group">
              <div class="col-md-6 pull-right">
                <input type="number" placeholder="סכום *" class="form-control" formControlName="amount">
              </div>
              <p-dropdown [options]="currenciesUi" [style]="{'width':'20%'}" formControlName="currency"></p-dropdown>
              <p-dropdown [options]="tariffTypesUi" [style]="{'width':'20%'}" formControlName="type"></p-dropdown>
            </div>
          </div>
      </div>
      <div class="modal-footer pull-left">
        <div class="pull-left">
          <button type="submit" pButton [disabled]="!projectCreationForm.valid" icon="fa-check" label="כן"></button>
          <button type="button" class="ui-button-danger" pButton icon="fa-close" data-dismiss="modal" (click)="displayFormProjectDialog=false" label="לא"></button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<client-form id="clientEditionForm" (outputClient)="syncClient($event)" [clientForCreation]="client" tabindex='-1' class="modal fade" onclose="" role="dialog"></client-form>

