@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/omega/theme.css';

body {
  background-image: url("diamond.png");
}

.hebrew-direct {
  unicode-bidi: embed;
  direction: rtl;
}

.english-direct {
  unicode-bidi: embed;
  direction: ltr;
}

.table_legenda {
  table-layout: fixed;
}

.table_legenda th {
  word-wrap: break-word;
}

.module {
  padding: 0;
  text-align: center;
  color: black;
  max-height: 25px;
  background-color: white;
  border-radius: 3px;
}

.app-block {
  background-color: rgba(104, 157, 255, 0.32);
  border-color: rgba(104, 157, 255, 0.32);
}

.module-plus {
  background-color: inherit;
}

.module:hover {
  background-color: rgba(104, 157, 255, 0.32);
  cursor: pointer;
  color: white;
}

.module-plus:hover {
  background-color: inherit;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

.jumbotron-n {
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  border-radius: 6px
}
