<div class="modal-dialog">

  <div class="modal-content">
    <div class="modal-header" style="text-align: center">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">הוסיף פרויקט</h4>
    </div>
    <div class="modal-body">
      <div *ngIf="errorProject" style="text-align: center" class="alert alert-danger">
        {{errorProject}}</div>
      <p-dropdown [options]="clientsUi" [style]="{'width':'inherit'}" (onChange)="initProjects(chosenClient)" [(ngModel)]="chosenClient" [filter]="true"></p-dropdown>
      <p-dropdown [options]="projectsUi" [style]="{'width':'inherit'}" [(ngModel)]="chosenProject" [filter]="true"></p-dropdown>
    </div>
    <div class="modal-footer pull-left col-md-12">
      <button id="closeEmployeeProjectForm" type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
      <button type="submit" (click)="addProject(chosenProject)" class="btn btn-primary">שמור</button>
    </div>
  </div>
</div>
